# Editors
.vscode/
.idea/
.*.sw[op]
*.kate-swp

# Fucking node
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
instance/
.pytest_cache/
.coverage/
htmlcov/
dist/
build/
*.egg-info/
venv/

# Local configs
.env.local

